In [1]:
import numpy as np

In [2]:
from LoadData import *

## Ensuring that data is clean

Reading in the data

In [3]:
nodes_df = pd.read_csv('CSVs/nodes.csv')
nodes_tags_df = pd.read_csv('CSVs/nodes_tags.csv')
ways_df = pd.read_csv('CSVs/ways.csv')
ways_tags_df = pd.read_csv('CSVs/ways_tags.csv')
ways_nodes_df = pd.read_csv('CSVs/ways_nodes.csv')

nodes_df = clean_dataframe(nodes_df)
nodes_tags_df = clean_dataframe(nodes_tags_df)
ways_df = clean_dataframe(ways_df)
ways_tags_df = clean_dataframe(ways_tags_df)
ways_nodes_df = clean_dataframe(ways_nodes_df)

### nodes_df

In [4]:
df = nodes_df

In [5]:
# Are there null values?
df.count()

id           258888
lat          258888
lon          258888
user         258888
uid          258888
version      258888
changeset    258888
timestamp    258888
dtype: int64

In [6]:
# I want to see the top 3 values for each column to inspect if something weird is going on
for c in df.columns:
    print("---- %s ---\n" % c)
    print(df[c].value_counts()[:3])
    print()

---- id ---

2673381928    1
2173961976    1
2563663335    1
Name: id, dtype: int64

---- lat ---

35.2703622    7
35.266772     7
35.2616975    7
Name: lat, dtype: int64

---- lon ---

-120.6496334    8
-120.6676142    6
-120.6757968    6
Name: lon, dtype: int64

---- user ---

Brad DeBranch    54677
chadbunn         51732
j03lar50n        23345
Name: user, dtype: int64

---- uid ---

1058654    54677
1058653    51732
78918      23345
Name: uid, dtype: int64

---- version ---

1    112880
2     72531
3     53738
Name: version, dtype: int64

---- changeset ---

37573363    11362
20583842     5913
3294625      4490
Name: changeset, dtype: int64

---- timestamp ---

2017-01-19T17:59:42Z    93
2017-01-19T17:59:43Z    87
2017-03-01T18:36:13Z    86
Name: timestamp, dtype: int64

### nodes_tags_df

In [8]:
df = nodes_tags_df

In [9]:
# Are there null values?
df.count()

id       13345
key      13345
value    13345
type     13345
dtype: int64

In [10]:
# I want to see the top 3 values for each column to inspect if something weird is going on
for c in df.columns:
    print("---- %s ---\n" % c)
    print(df[c].value_counts()[:3])
    print()

---- id ---

4929556824    17
3645164858    15
2129478493    15
Name: id, dtype: int64

---- key ---

emergency      2314
housenumber    1862
full           1308
Name: key, dtype: int64

---- value ---

fire_hydrant    2285
yes              341
stop             316
Name: value, dtype: int64

---- type ---

regular    7249
addr       5821
gnis        176
Name: type, dtype: int64

In [11]:
df.key.unique()

array(['highway', 'ref', 'power', 'barrier', 'reviewed', 'railway',
       'traffic_signals', 'ele', 'name', 'place', 'id', 'wikidata',
       'gnis:Class', 'population', 'gnis:County', 'gnis:ST_num',
       'import_uuid', 'gnis:ST_alpha', 'gnis:County_num', 'emergency',
       'natural', 'created', 'state_id', 'county_id', 'feature_id',
       'amenity', 'phone', 'website', 'operator', 'man_made', 'religion',
       'denomination', 'city', 'housenumber', 'edited', 'source', 'state',
       'county_name', 'full', 'street:name', 'tourism', 'wheelchair',
       'street', 'postcode', 'shop', 'sport', 'cuisine', 'smoking',
       'delivery', 'takeaway', 'drive_through', 'opening_hours',
       'description', 'unit', 'street:type', 'outdoor_seating', 'entrance',
       'social_facility', 'for', 'leisure', 'crossing', 'country',
       'landmark', 'designation', 'atm', 'brand', 'car_wash', 'access',
       'type', 'foot', 'bicycle', 'capacity', 'layer', 'information',
       'aeroway', 'genus', 'species', 'motor_vehicle', 'internet_access',
       'surveillance', 'disabled', 'user_defined', 'image', 'office',
       'county', 'historic', 'housename', 'owner', 'food',
       'traffic_calming', 'covered', 'kerb', 'tactile_paving', 'network',
       'housenumber:unit', 'vehicle', 'note', 'diet', 'yelp', 'bitcoin',
       'cocktails', 'fixme', 'craft', 'horse', 'motorcar', 'motorcycle',
       'wikipedia', 'bench', 'junction', 'bicycle_parking', 'monument',
       'building', 'crossing_ref', 'height', 'en', 'name_1',
       'reference_point', 'street:prefix', 'repair', 'climbing', 'coffee',
       'juice', 'vending', 'water', 'waterway', 'leaf_type', 'denotation',
       'Suite', 'number', 'rooms'], dtype=object)

In [12]:
df[df.key == 'historic']

              id       key     value     type
3752  2027452533  historic  memorial  regular
3797  2073955852  historic  memorial  regular
7952  3329380524  historic  memorial  regular

In [12]:
df.type.value_counts()

regular            7249
addr               5821
gnis                176
tiger                39
fire_hydrant         29
species              18
capacity              6
payment               2
drink                 1
social_facility       1
census                1
access                1
name                  1
Name: type, dtype: int64

### ways_df

In [13]:
df = ways_df

In [14]:
# Are there null values?
df.count()

id           28842
user         28842
uid          28842
version      28842
changeset    28842
timestamp    28842
dtype: int64

In [15]:
# I want to see the top 3 values for each column to inspect if something weird is going on
for c in df.columns:
    print("---- %s ---\n" % c)
    print(df[c].value_counts()[:3])

---- id ---

237748009    1
45617513     1
219426381    1
Name: id, dtype: int64
---- user ---

chadbunn         10702
MannequinBaby     2667
e*holtz           2519
Name: user, dtype: int64
---- uid ---

1058653    10702
2590582     2667
2561166     2519
Name: uid, dtype: int64
---- version ---

2    7237
1    6623
3    6205
Name: version, dtype: int64
---- changeset ---

37573363    987
49385449    707
36628039    618
Name: changeset, dtype: int64
---- timestamp ---

2013-01-30T00:48:37Z    23
2013-01-17T20:18:00Z    20
2014-12-09T20:18:16Z    19
Name: timestamp, dtype: int64

### ways_tags_df

In [16]:
df = ways_tags_df

In [17]:
# Are there null values?
df.count()

id       109298
key      109298
value    109298
type     109298
dtype: int64

In [18]:
# I want to see the top 3 values for each column to inspect if something weird is going on
for c in df.columns:
    print("---- %s ---\n" % c)
    print(df[c].value_counts()[:3])

---- id ---

220540383    23
320713667    23
269102711    23
Name: id, dtype: int64
---- key ---

building       21564
street:name    16385
full           16327
Name: key, dtype: int64
---- value ---

yes       18681
house      3654
Street     1998
Name: value, dtype: int64
---- type ---

addr       63187
regular    37711
tiger       5816
Name: type, dtype: int64

The only city appears to be San Luis Obispo, which is what I wanted

In [19]:
df[df.key.apply(lambda s: 'city' in s)]

               id   key            value  type
6036     31274641  city  San Luis Obispo  addr
6047     31274718  city  San Luis Obispo  addr
6053     31274721  city  San Luis Obispo  addr
6059     31274732  city  San Luis Obispo  addr
6065     31560773  city  San Luis Obispo  addr
6138     35152829  city  San Luis Obispo  addr
6145     38899881  city  San Luis Obispo  addr
6151     38899882  city  San Luis Obispo  addr
6157     38899884  city  San Luis Obispo  addr
6163     38939878  city  San Luis Obispo  addr
6168     38939879  city  San Luis Obispo  addr
6177     38939881  city  San Luis Obispo  addr
6182     38939882  city  San Luis Obispo  addr
6187     38939883  city  San Luis Obispo  addr
6193     38939884  city  San Luis Obispo  addr
6199     38939886  city  San Luis Obispo  addr
6212     38939888  city  San Luis Obispo  addr
6224     42335852  city  San Luis Obispo  addr
6504     43738023  city  San Luis Obispo  addr
6509     43738040  city  San Luis Obispo  addr
6515     43738050  city  San Luis Obispo  addr
6520     43738057  city  San Luis Obispo  addr
6583     45594006  city  San Luis Obispo  addr
6864     45594081  city  San Luis Obispo  addr
7204     45594168  city  San Luis Obispo  addr
7213     45594169  city  San Luis Obispo  addr
7222     45594170  city  San Luis Obispo  addr
7231     45594171  city  San Luis Obispo  addr
7240     45594172  city  San Luis Obispo  addr
7255     45594175  city  San Luis Obispo  addr
...           ...   ...              ...   ...
105963  385174638  city  San Luis Obispo  addr
105986  385174645  city  San Luis Obispo  addr
105993  385174646  city  San Luis Obispo  addr
106044  385185670  city  San Luis Obispo  addr
106051  385185672  city  San Luis Obispo  addr
106059  385185674  city  San Luis Obispo  addr
106066  385185675  city  San Luis Obispo  addr
106073  385185676  city  San Luis Obispo  addr
106080  385185677  city  San Luis Obispo  addr
106087  385185678  city  San Luis Obispo  addr
106095  385185679  city  San Luis Obispo  addr
106102  385185680  city  San Luis Obispo  addr
106110  385185681  city  San Luis Obispo  addr
106118  385185682  city  San Luis Obispo  addr
106126  385185683  city  San Luis Obispo  addr
106134  385185684  city  San Luis Obispo  addr
106141  385185685  city  San Luis Obispo  addr
106148  385185686  city  San Luis Obispo  addr
106157  385185688  city  San Luis Obispo  addr
106165  385185693  city  San Luis Obispo  addr
106238  385490114  city  San Luis Obispo  addr
107055  392482159  city  San Luis Obispo  addr
107061  392482160  city  San Luis Obispo  addr
107435  415932525  city  San Luis Obispo  addr
107523  434109502  city  San Luis Obispo  addr
107540  434109520  city  San Luis Obispo  addr
107563  434109539  city  San Luis Obispo  addr
107589  434220744  city  San Luis Obispo  addr
107597  434220747  city  San Luis Obispo  addr
108899  489954896  city  San Luis Obispo  addr

[905 rows x 4 columns]

In [20]:
df.key.unique()

array(['name', 'highway', 'cfcc', 'county', 'reviewed', 'name_base',
       'name_type', 'access', 'service', 'oneway', 'bicycle',
       'destination', 'power', 'cables', 'voltage', 'frequency', 'ref',
       'railway', 'surface', 'foot', 'horse', 'lanes', 'junction',
       'motor_vehicle', 'tracktype', 'name_direction_prefix_1', 'tlid',
       'source', 'separated', 'upload_uuid', 'hgv', 'state_network',
       'hgv:state_network', 'name_1', 'name_base_1', 'name_type_1',
       'cycleway', 'name_direction_prefix', 'sidewalk', 'maxspeed', 'NHS',
       'national_network', 'hgv:national_network', 'layer',
       'name_direction_suffix', 'name_base_2', 'name_type_2', 'postcode',
       'is_in', 'bus', 'old_ref', 'name_2', 'leisure', 'sport', 'city',
       'street', 'building', 'levels', 'aeroway', 'amenity',
       'university-function', 'ALAND', 'MTFCC', 'AREAID', 'AWATER',
       'STATEFP', 'COUNTYFP', 'latitude', 'longitude', 'Tiger:MTFCC',
       'website', 'ele', 'landuse', 'created', 'state_id', 'county_id',
       'feature_id', 'full', 'housenumber', 'street:name', 'iata', 'icao',
       'operator', 'street:type', 'height', 'cuisine', 'smoking',
       'delivery', 'takeaway', 'wheelchair', 'internet_access',
       'outdoor_seating', 'country', 'religion', 'denomination', 'shop',
       'office', 'state', 'tourism', 'phone', 'brand', 'historic', 'unit',
       'housenumber:unit', 'description', 'museum', 'wikipedia', 'atm',
       'food', 'parking', 'opening_hours', 'drive_through', 'fee',
       'street:prefix', 'housename', 'ownership', 'shape', 'colour',
       'alt_name', 'comment', 'craft', 'organic', 'number', 'male',
       'disabled', 'construction_date', 'man_made', 'emergency',
       'designation', 'brewery', 'residential', 'park_ride', 'supervised',
       'addr', 'bridge', 'fax', 'shooting', 'shoulder', 'trailer', 'owner',
       'usage', 'natural', 'fdate', 'fcode', 'ftype', 'com_id',
       'reach_code', 'water', 'intermittent', 'occurrence', 'id',
       'wetland', 'waterway', 'tunnel', 'step_count', 'zip_right', 'lit',
       'route', 'attribution', 'type', 'district', 'dynsegpm', 'area',
       'drive_in', 'barrier', 'vehicle', 'postal_code', 'length',
       'segregated', 'baseball', 'substation', 'electrified', 'hoops',
       'note', 'female', 'FIXME:NHS', 'cutting', 'restriction',
       'street:suffix', 'is', 'footway', 'fuel', 'covered', 'right',
       'crossing', 'trees', 'lane', 'golf', 'mow', 'county_name',
       'import_uuid', 'animal', 'width', 'motorcar', 'driveway', 'fixme',
       'crop', 'FIXME', 'gauge', 'traffic_calming', 'indoor',
       'social_facility', 'for', 'fence_type', 'level', 'boundary',
       'end_date', 'wikidata', 'start_date', 'old_railway_operator',
       'construction'], dtype=object)

### ways_nodes_df

In [21]:
df = ways_nodes_df

In [22]:
# Are there null values?
df.count()

id          302167
node_id     302167
position    302167
dtype: int64

In [23]:
# I want to see the top 3 values for each column to inspect if something weird is going on
for c in df.columns:
    print("---- %s ---\n" % c)
    print(df[c].value_counts()[:3])

---- id ---

261743335    1213
261743336    1203
261477414     960
Name: id, dtype: int64
---- node_id ---

1470499954    8
552907487     7
3543853764    7
Name: node_id, dtype: int64
---- position ---

0    28842
1    28832
2    27681
Name: position, dtype: int64